{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - path_info.args: Array of URL arguments un aliassed.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'node--type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<!-- Begin: header -->
<!--[if lt IE 7]>      <html {{ html_attributes.addClass("h-100 no-js lt-ie9 lt-ie8 lt-ie7") }}> <![endif]-->
<!--[if IE 7]>         <html {{ html_attributes.addClass("h-100 no-js lt-ie9 lt-ie8") }}> <![endif]-->
<!--[if IE 8]>         <html {{ html_attributes.addClass("h-100 no-js lt-ie9") }}> <![endif]-->
<!--[if gt IE 8]><!-->
<html {{ html_attributes.addClass("h-100") }} lang="en" class="no-js"> <!--<![endif]-->
<head>
  <head-placeholder token="{{ placeholder_token }}" ></head-placeholder>
    <title id="title">{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}"></css-placeholder>
      <js-placeholder token="{{ placeholder_token }}"></js-placeholder>
        <!-- UML branded page top -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Chrome, Firefox OS, and Opera -->
        <meta name="theme-color" content="#f2a900">
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#f2a900">
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="#f2a900">
        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ file_url(active_theme_path() ~ '/images/icons/favicon.ico') }}">
        <!-- Roboto Font -->
<!--        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> -->
        <!-- Font Awesome Fonts -->
<!--        <link rel="stylesheet" href="//apps.lib.umanitoba.ca/public/css/fonts/font-awesome.min.css?v=1.0.0"> -->

</head>
<body data-pubapp=""{{ attributes.addClass(body_classes) }}>
<a href="#main-content" class="visually-hidden focusable skip-link">
  {{ 'Skip to main content'|t }}
</a>
<header class="uom-header">
  <div class="territory-acknowledgement display-none container-fluid align-center">
    <p>
      <span>The University of Manitoba campuses are located on original lands of Anishinaabeg, Cree, Oji-Cree, Dakota, and Dene peoples, and on the homeland of the M&eacute;tis Nation.</span>
      <span>
						<a href="http://umanitoba.ca/admin/indigenous_connect/5728.html" class="bold">More</a>
					</span>
    </p>
  </div>
  <div class="uom-main-header container">
    <section class="site-header top text-align-right">
      <button class="float-lg-start btn-territory-acknowledgement">Territory acknowledgement</button>
      <div class="inline-block">
        <nav role="navigation" class="functional-menu">
          <ul class="menu">
            <li class="menu-item">
              <a href="https://umanitoba.ca/current-students">Current students</a>
            </li>
            <li class="menu-item">
              <a href="https://umanitoba.ca/faculty-and-staff">Faculty and staff</a>
            </li>
            <li class="menu-item">
              <a href="https://umanitoba.ca/community/alumni">Alumni</a>
            </li>
            <li class="menu-item">
              <a href="https://umanitoba.ca/webmail/">Email</a>
            </li>
            <li class="menu-item">
              <a href="https://news.umanitoba.ca/">News and events</a>
            </li>
          </ul>
        </nav><nav role="navigation" class="global-cta-menu">
          <ul class="menu">
            <li class="menu-item">
              <a href="http://umanitoba.ca/visit-university-manitoba">Visit</a>
            </li>
            <li class="menu-item">
              <a href="http://umanitoba.ca/admissions/apply-um">Apply</a>
            </li>
            <li class="menu-item">
              <a href="http://umanitoba.ca/community/giving">Donate</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
    <section class="site-header bottom text-align-left">
      <a href="https://umanitoba.ca/libraries/" class="site-header-logo">
        <img src="{{ file_url(active_theme_path() ~ '/images/uml_logo_right_114h.png') }}" alt="Home" class="desktop">
        <img src="{{ file_url(active_theme_path() ~ '/images/uml_logo_right_mobi_72h.png') }}" alt="Home" class="mobile">
      </a>
      <a href="https://umanitoba.ca/search" class="header-search float-right">
        <img src="{{ file_url(active_theme_path() ~ '/images/icons/icon-search.png') }}" alt="Search Icon" />
      </a>
      <nav role="navigation" class="main-navigation-menu float-right">
        <ul class="menu">
          <li class="menu-item">
            <a href="https://umanitoba.ca/admissions">Admissions</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/academics">Academics</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/research">Research</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/student-supports">Student Supports</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/community">Community</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/about-um">About U of M</a>
          </li>
        </ul>
      </nav>
      <div class="mini-menu float-right">
        <a href="https://umanitoba.ca/search" class="mini-search">
          <img src="{{ file_url(active_theme_path() ~ '/images/icons/m-icon-search.png') }}" alt="Search Icon" />
        </a>
        <a href="#" class="mini-hamburger">
          <img src="{{ file_url(active_theme_path() ~ '/images/icons/icon-hamburger.png') }}" alt="Search Icon" />
        </a>
        <a href="#" class="mini-close-thin display-none">
          <img src="{{ file_url(active_theme_path() ~ '/images/icons/icon-close.png') }}" alt="Search Icon" />
        </a>
      </div>
    </section>
  </div>

  <div class="mobile-drawer display-none">
    <div class="l-container">

      <h2 class="mobile-drawer__faculty-title">
        <a href="" class="mobile-drawer__faculty-link">Libraries</a>
      </h2>

      <nav role="navigation" aria-labelledby="block-main-menu" id="block-main--mobile" data-block-plugin-id="system_menu_block:main-menu" class="block block-menu navigation menu--main">
        <h2 class="visually-hidden" id="block-main-menu--mobile">Main Menu</h2>
        <ul class="menu">
          <li class="menu-item">
            <a href="https://umanitoba.ca/libraries/access-materials" class="">Access materials</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/libraries/help-and-services" class="">Help and services</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/libraries/locations-and-facilities" class="">Locations and hours</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/libraries/accessibility-services" class="">Accessibility services</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="l-container__content">

      <p class="mobile-territory-acknowledgement">
        The University of Manitoba campuses are located on original lands of Anishinaabeg, Ininew, Anisininew, Dakota and Dene peoples, and on the National Homeland of the Red River Métis. <a href="https://umanitoba.ca/indigenous/culture-and-protocol#traditional-territories-acknowledgement"><strong>More</strong></a>
      </p>

      <div class="collapsible-section">
        <h2 class="collapsible-section__title js-collapsible-section">University of Manitoba</h2>
        <div class="collapsible-section__content display-none">
          <nav role="navigation" aria-labelledby="block-functional-menu" id="block-functional--mobile" data-block-plugin-id="system_menu_block:functional-menu" class="block block-menu navigation menu--functional">
            <h2 class="visually-hidden" id="block-functional-menu--mobile">Functional Menu</h2>
            <ul class="menu">
              <li class="menu-item">
                <a href="https://umanitoba.ca/current-students" class="">Current students</a>
              </li>
              <li class="menu-item">
                <a href="https://umanitoba.ca/faculty-and-staff" class="">Faculty and staff</a>
              </li>
              <li class="menu-item">
                <a href="https://umanitoba.ca/community/alumni" class="">Alumni</a>
              </li>
              <li class="menu-item">
                <a href="https://umanitoba.ca/email">Email</a>
              </li>
              <li class="menu-item">
                <a href="https://news.umanitoba.ca/">News and events</a>
              </li>
            </ul>
          </nav>

          <nav role="navigation" aria-labelledby="block-global-cta-menu" id="block-global-cta--mobile" data-block-plugin-id="system_menu_block:global-cta-menu" class="block block-menu navigation menu--global-cta">
            <h2 class="visually-hidden" id="block-global-cta-menu--mobile">Call To Action Menu</h2>
            <ul class="menu-buttons">
              <li class="menu-item">
                <a href="https://umanitoba.ca/visit" class="button button--small ">Visit</a>
              </li>
              <li class="menu-item">
                <a href="https://umanitoba.ca/admissions/apply-um" class="button button--small ">Apply</a>
              </li>
              <li class="menu-item">
                <a href="https://umanitoba.ca/community/giving" class="button button--small ">Donate</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>

      <address class="mobile-drawer__address">
        <p class="mobile-drawer__address-text">
          <strong>University of Manitoba</strong><br/>
          Winnipeg, Manitoba Canada, R3T 2N2
        </p>
        <a class="button button--small" href="https://umanitoba.ca/about-um/our-campuses/getting-here">Maps and directions</a>
      </address>

      <nav class="telephone">
        <a class="u-link-decoration" href="tel:+1800-432-1960">1-800-432-1960 (North America)</a><br>
        <a class="u-link-decoration" href="tel:+1204-474-9341">Emergency: 204-474-9341</a><br>
        <a class="u-link-decoration" href="https://umanitoba.ca/security"><strong>Emergency Information</strong></a>
      </nav>

      <nav class="menu--footer">
        <ul class="menu">
          <li class="menu-item">
            <a href="https://umanitoba.ca/careers">Careers</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/media-relations">Media</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/search#tab=People">People search</a>
          </li>
          <li class="menu-item">
            <a href="https://research.ad.umanitoba.ca/mrt/pubapp/exp_search.php">Research experts</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/access-and-privacy/privacy-statement">Privacy policy</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/accessibility">Accessibility</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/copyright/website-terms-use">Terms of use</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/website-feedback">Website feedback</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</header>
<!-- End: header -->
<main>
  <!-- Begin: container -->
  <div class="container">
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
  </div>
  <!-- End: container -->
</main>
<!-- Begin: footer -->
<footer class="uom-footer">
  <div class="uom-main-footer container">
    <section class="site-footer top">
      <a href="https://umanitoba.ca/libraries/" class="site-footer-logo">
        <img src="{{ file_url(active_theme_path() ~ '/images/uml_logo_vert_192w.png') }}" alt="Home">
      </a>
      <nav class="float-right">
        <ul class="menu">
          <li class="menu-item">
            <a href="http://umanitoba.ca/careers/">Careers</a>
          </li>
          <li class="menu-item">
            <a href="http://umanitoba.ca/admin/mco/contactus.html">Media</a>
          </li>
          <li class="menu-item">
            <a href="http://umanitoba.ca/people">People search</a>
          </li>
          <li class="menu-item">
            <a href="https://research.ad.umanitoba.ca/mrt/pubapp/exp_search.php">Research experts</a>
          </li>
          <li class="menu-item">
            <a href="http://umanitoba.ca/admin/vp_admin/ofp/ohrcm/accessibility/">Web accessibility</a>
          </li>
        </ul>
      </nav>
    </section>
    <section class="site-footer bottom text-align-right" style="overflow: hidden">
      <address class="align-left float-left">
        <p>
          <strong>University of Manitoba Libraries</strong>
          <br>
          <span>Winnipeg, Manitoba, Canada</span>
        </p>
        <a href="https://umanitoba.ca/visit-university-manitoba" class="button">Maps and directions</a>
      </address>
      <div class="contact align-left float-left">
        <nav class="contact-telephone">
          <a href="tel:+1-204-474-9881">1-204-474-9881 (Winnipeg)</a>
          <br>
          <a href="tel:+1-204-474-9341">Emergency: 204-474-9341</a>
          <br>
          <a href="http://umanitoba.ca/campus/security/contact.html" class="decorated"><strong>Emergency Information</strong></a>
        </nav>
        <nav class="contact-social">
          <ul class="social-links" aria-label="University of Manitoba Social Media Accounts">
            <li class="social-link-item">
              <a href="https://twitter.com/dafoe_library/" class="external-link" target="_blank" aria-label="Follow us on Twitter">
                <img src="{{ file_url(active_theme_path() ~ '/images/icons/icon-twitter.png') }}" alt="Search Icon" />
              </a>
            </li>
            <li class="social-link-item">
              <a href="https://www.facebook.com/DafoeLibrary/" class="external-link" target="_blank" aria-label="Follow us on Facebook">
                <img src="{{ file_url(active_theme_path() ~ '/images/icons/icon-facebook.png') }}" alt="Search Icon" />
              </a>
            </li>
            <li class="social-link-item">
              <a href="https://www.instagram.com/dafoe_library/" class="external-link" target="_blank" aria-label="Follow us on Instagram">
                <img src="{{ file_url(active_theme_path() ~ '/images/icons/icon-instagram.png') }}" alt="Search Icon" />
              </a>
            </li>
            <li class="social-link-item">
              <a href="https://www.youtube.com/channel/UCX_rdVBCQhQ7l97_k0T63fw" class="external-link" target="_blank" aria-label="Follow us on YouTube">
                <img src="{{ file_url(active_theme_path() ~ '/images/icons/icon-youtube.png') }}" alt="Search Icon" />
              </a>
            </li>
            <li class="social-link-item">
              <a href="http://umanitoba.ca/admin/mco/new_media/socialmedia.html" class="all-socials">
                <span>All social</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="campaign-and-legal align-right">
        <div class="campaign">
          <a href="https://frontandcentre.cc.umanitoba.ca/">
            <img src="{{ file_url(active_theme_path() ~ '/images/front-and-centre-logo.png') }}" alt="Logo for Front and Centre">
          </a>
          <a href="https://frontandcentre.cc.umanitoba.ca/">The Campaign for the University of Manitoba</a>
        </div>
        <div class="legal">
          <nav class="legal-navigation">
            <ul class="menu">
              <li class="menu-item">
                <a href="http://umanitoba.ca/access_and_privacy/Privacy_Statement.html">Privacy policy</a>
              </li>
              <li class="menu-item">
                <a href="http://umanitoba.ca/admin/vp_admin/ofp/termsofuse.html">Terms of use</a>
              </li>
              <li class="menu-item">
                <a href="mailto:libsupp@umanitoba.ca">Website feedback</a>
              </li>
              <li class="menu-item">
                <span id="copyright">&copy; 2020 University of Manitoba</span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
  </div>
</footer>
<js-bottom-placeholder token="{{ placeholder_token }}"></js-bottom-placeholder>
</body>
</html>
