<footer class="uom-footer">
  <div class="uom-main-footer container">
    <section class="site-footer top">
      <a href="https://umanitoba.ca/libraries/" class="site-footer-logo">
        <img src="{{ file_url(active_theme_path() ~ '/images/uml_logo_vert_192w.png') }}" alt="Home">
      </a>
      <nav class="float-right">
        <ul class="menu">
          <li class="menu-item">
            <a href="http://umanitoba.ca/careers/">Careers</a>
          </li>
          <li class="menu-item">
            <a href="http://umanitoba.ca/admin/mco/contactus.html">Media</a>
          </li>
          <li class="menu-item">
            <a href="http://umanitoba.ca/people">People search</a>
          </li>
          <li class="menu-item">
            <a href="https://research.ad.umanitoba.ca/mrt/pubapp/exp_search.php">Research experts</a>
          </li>
          <li class="menu-item">
            <a href="http://umanitoba.ca/admin/vp_admin/ofp/ohrcm/accessibility/">Web accessibility</a>
          </li>
        </ul>
      </nav>
    </section>
    <section class="site-footer bottom text-align-right" style="overflow: hidden">
      <address class="align-left float-left">
        <p>
          <strong>University of Manitoba Libraries</strong>
          <br>
          <span>Winnipeg, Manitoba, Canada</span>
        </p>
        <a href="https://umanitoba.ca/visit-university-manitoba" class="button">Maps and directions</a>
      </address>
      <div class="contact align-left float-left">
        <nav class="contact-telephone">
          <a href="tel:+1-204-474-9881">1-204-474-9881 (Winnipeg)</a>
          <br>
          <a href="tel:+1-204-474-9341">Emergency: 204-474-9341</a>
          <br>
          <a href="http://umanitoba.ca/campus/security/contact.html" class="decorated"><strong>Emergency Information</strong></a>
        </nav>
        <nav class="contact-social">
          <ul class="social-links" aria-label="University of Manitoba Social Media Accounts">
            <li class="social-link-item">
              <a href="https://twitter.com/dafoe_library/" class="external-link" target="_blank" aria-label="Follow us on Twitter">
                <img src="{{ file_url(active_theme_path() ~ '/images/icons/icon-twitter.png') }}" alt="Search Icon" />
              </a>
            </li>
            <li class="social-link-item">
              <a href="https://www.facebook.com/DafoeLibrary/" class="external-link" target="_blank" aria-label="Follow us on Facebook">
                <img src="{{ file_url(active_theme_path() ~ '/images/icons/icon-facebook.png') }}" alt="Search Icon" />
              </a>
            </li>
            <li class="social-link-item">
              <a href="https://www.instagram.com/dafoe_library/" class="external-link" target="_blank" aria-label="Follow us on Instagram">
                <img src="{{ file_url(active_theme_path() ~ '/images/icons/icon-instagram.png') }}" alt="Search Icon" />
              </a>
            </li>
            <li class="social-link-item">
              <a href="https://www.youtube.com/channel/UCX_rdVBCQhQ7l97_k0T63fw" class="external-link" target="_blank" aria-label="Follow us on YouTube">
                <img src="{{ file_url(active_theme_path() ~ '/images/icons/icon-youtube.png') }}" alt="Search Icon" />
              </a>
            </li>
            <li class="social-link-item">
              <a href="http://umanitoba.ca/admin/mco/new_media/socialmedia.html" class="all-socials">
                <span>All social</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="campaign-and-legal align-right">
        <div class="campaign">
          <a href="https://frontandcentre.cc.umanitoba.ca/">
            <img src="{{ file_url(active_theme_path() ~ '/images/front-and-centre-logo.png') }}" alt="Logo for Front and Centre">
          </a>
          <a href="https://frontandcentre.cc.umanitoba.ca/">The Campaign for the University of Manitoba</a>
        </div>
        <div class="legal">
          <nav class="legal-navigation">
            <ul class="menu">
              <li class="menu-item">
                <a href="http://umanitoba.ca/access_and_privacy/Privacy_Statement.html">Privacy policy</a>
              </li>
              <li class="menu-item">
                <a href="http://umanitoba.ca/admin/vp_admin/ofp/termsofuse.html">Terms of use</a>
              </li>
              <li class="menu-item">
                <a href="mailto:libsupp@umanitoba.ca">Website feedback</a>
              </li>
              <li class="menu-item">
                <span id="copyright">&copy; 2020 University of Manitoba</span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
  </div>
</footer>
