<header class="uom-header">
  <div class="territory-acknowledgement display-none container-fluid align-center">
    <p>
      <span>The University of Manitoba campuses are located on original lands of Anishinaabeg, Cree, Oji-Cree, Dakota, and Dene peoples, and on the homeland of the M&eacute;tis Nation.</span>
      <span>
						<a href="http://umanitoba.ca/admin/indigenous_connect/5728.html" class="bold">More</a>
					</span>
    </p>
  </div>
  <div class="uom-main-header container">
    <section class="site-header top text-align-right">
      <button class="float-lg-start btn-territory-acknowledgement">Territory acknowledgement</button>
      <div class="inline-block">
        <nav role="navigation" class="functional-menu">
          <ul class="menu">
            <li class="menu-item">
              <a href="https://umanitoba.ca/current-students">Current students</a>
            </li>
            <li class="menu-item">
              <a href="https://umanitoba.ca/faculty-and-staff">Faculty and staff</a>
            </li>
            <li class="menu-item">
              <a href="https://umanitoba.ca/community/alumni">Alumni</a>
            </li>
            <li class="menu-item">
              <a href="https://umanitoba.ca/webmail/">Email</a>
            </li>
            <li class="menu-item">
              <a href="https://news.umanitoba.ca/">News and events</a>
            </li>
          </ul>
        </nav><nav role="navigation" class="global-cta-menu">
          <ul class="menu">
            <li class="menu-item">
              <a href="http://umanitoba.ca/visit-university-manitoba">Visit</a>
            </li>
            <li class="menu-item">
              <a href="http://umanitoba.ca/admissions/apply-um">Apply</a>
            </li>
            <li class="menu-item">
              <a href="http://umanitoba.ca/community/giving">Donate</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
    <section class="site-header bottom text-align-left">
      <a href="https://umanitoba.ca/libraries/" class="site-header-logo">
        <img src="{{ file_url(active_theme_path() ~ '/images/uml_logo_right_114h.png') }}" alt="Home" class="desktop">
        <img src="{{ file_url(active_theme_path() ~ '/images/uml_logo_right_mobi_72h.png') }}" alt="Home" class="mobile">
      </a>
      <a href="https://umanitoba.ca/search" class="header-search float-right">
        <img src="{{ file_url(active_theme_path() ~ '/images/icons/icon-search.png') }}" alt="Search Icon" />
      </a>
      <nav role="navigation" class="main-navigation-menu float-right">
        <ul class="menu">
          <li class="menu-item">
            <a href="https://umanitoba.ca/admissions">Admissions</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/academics">Academics</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/research">Research</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/student-supports">Student Supports</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/community">Community</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/about-um">About U of M</a>
          </li>
        </ul>
      </nav>
      <div class="mini-menu float-right">
        <a href="https://umanitoba.ca/search" class="mini-search">
          <img src="{{ file_url(active_theme_path() ~ '/images/icons/m-icon-search.png') }}" alt="Search Icon" />
        </a>
        <a href="#" class="mini-hamburger">
          <img src="{{ file_url(active_theme_path() ~ '/images/icons/icon-hamburger.png') }}" alt="Search Icon" />
        </a>
        <a href="#" class="mini-close-thin display-none">
          <img src="{{ file_url(active_theme_path() ~ '/images/icons/icon-close.png') }}" alt="Search Icon" />
        </a>
      </div>
    </section>
  </div>

  <div class="mobile-drawer display-none">
    <div class="l-container">

      <h2 class="mobile-drawer__faculty-title">
        <a href="" class="mobile-drawer__faculty-link">Libraries</a>
      </h2>

      <nav role="navigation" aria-labelledby="block-main-menu" id="block-main--mobile" data-block-plugin-id="system_menu_block:main-menu" class="block block-menu navigation menu--main">
        <h2 class="visually-hidden" id="block-main-menu--mobile">Main Menu</h2>
        <ul class="menu">
          <li class="menu-item">
            <a href="https://umanitoba.ca/libraries/access-materials" class="">Access materials</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/libraries/help-and-services" class="">Help and services</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/libraries/locations-and-facilities" class="">Locations and hours</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/libraries/accessibility-services" class="">Accessibility services</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="l-container__content">

      <p class="mobile-territory-acknowledgement">
        The University of Manitoba campuses are located on original lands of Anishinaabeg, Ininew, Anisininew, Dakota and Dene peoples, and on the National Homeland of the Red River Métis. <a href="https://umanitoba.ca/indigenous/culture-and-protocol#traditional-territories-acknowledgement"><strong>More</strong></a>
      </p>

      <div class="collapsible-section">
        <h2 class="collapsible-section__title js-collapsible-section">University of Manitoba</h2>
        <div class="collapsible-section__content display-none">
          <nav role="navigation" aria-labelledby="block-functional-menu" id="block-functional--mobile" data-block-plugin-id="system_menu_block:functional-menu" class="block block-menu navigation menu--functional">
            <h2 class="visually-hidden" id="block-functional-menu--mobile">Functional Menu</h2>
            <ul class="menu">
              <li class="menu-item">
                <a href="https://umanitoba.ca/current-students" class="">Current students</a>
              </li>
              <li class="menu-item">
                <a href="https://umanitoba.ca/faculty-and-staff" class="">Faculty and staff</a>
              </li>
              <li class="menu-item">
                <a href="https://umanitoba.ca/community/alumni" class="">Alumni</a>
              </li>
              <li class="menu-item">
                <a href="https://umanitoba.ca/email">Email</a>
              </li>
              <li class="menu-item">
                <a href="https://news.umanitoba.ca/">News and events</a>
              </li>
            </ul>
          </nav>

          <nav role="navigation" aria-labelledby="block-global-cta-menu" id="block-global-cta--mobile" data-block-plugin-id="system_menu_block:global-cta-menu" class="block block-menu navigation menu--global-cta">
            <h2 class="visually-hidden" id="block-global-cta-menu--mobile">Call To Action Menu</h2>
            <ul class="menu-buttons">
              <li class="menu-item">
                <a href="https://umanitoba.ca/visit" class="button button--small ">Visit</a>
              </li>
              <li class="menu-item">
                <a href="https://umanitoba.ca/admissions/apply-um" class="button button--small ">Apply</a>
              </li>
              <li class="menu-item">
                <a href="https://umanitoba.ca/community/giving" class="button button--small ">Donate</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>

      <address class="mobile-drawer__address">
        <p class="mobile-drawer__address-text">
          <strong>University of Manitoba</strong><br/>
          Winnipeg, Manitoba Canada, R3T 2N2
        </p>
        <a class="button button--small" href="https://umanitoba.ca/about-um/our-campuses/getting-here">Maps and directions</a>
      </address>

      <nav class="telephone">
        <a class="u-link-decoration" href="tel:+1800-432-1960">1-800-432-1960 (North America)</a><br>
        <a class="u-link-decoration" href="tel:+1204-474-9341">Emergency: 204-474-9341</a><br>
        <a class="u-link-decoration" href="https://umanitoba.ca/security"><strong>Emergency Information</strong></a>
      </nav>

      <nav class="menu--footer">
        <ul class="menu">
          <li class="menu-item">
            <a href="https://umanitoba.ca/careers">Careers</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/media-relations">Media</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/search#tab=People">People search</a>
          </li>
          <li class="menu-item">
            <a href="https://research.ad.umanitoba.ca/mrt/pubapp/exp_search.php">Research experts</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/access-and-privacy/privacy-statement">Privacy policy</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/accessibility">Accessibility</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/copyright/website-terms-use">Terms of use</a>
          </li>
          <li class="menu-item">
            <a href="https://umanitoba.ca/website-feedback">Website feedback</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</header>
